@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}
header .navbar .container-lg a{
    font-family: "Sour Gummy", sans-serif;
}

/* Carousel Section Start  */
.banner-section .carousel .carousel-inner .carousel-caption h1{
    font-size: 65px;
}
.banner-section .carousel .carousel-inner .carousel-caption h3{
    font-size: 40px;
}
.banner-section .carousel .carousel-inner .carousel-caption p{
    font-size: 18px;
    color: gainsboro;
}
.banner-section .carousel .carousel-inner .carousel-caption .btn-group a{
    padding: 15px 30px;
    background-color: #198754;
    border: 1px solid transparent;
    font-size: 20px;
}
.banner-section .carousel .carousel-inner .carousel-caption .btn-group a:hover{
    background-color: transparent;
    border: 1px solid white;
}
.banner-section .carousel .carousel-inner .carousel-caption .btn-group a:last-child{
    padding: 15px 30px;
    background-color: transparent;
    border: 1px solid white;
    font-size: 20px;
    /* margin-left: 10px; */
}
.banner-section .carousel .carousel-inner .carousel-caption .btn-group a:hover:last-child{
    background-color: #198754;
    border: 1px solid transparent;
   
}
/* Carousel Section End  */
